.content-information-product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.choose-shopping {
    margin-bottom: 15px;
}

.content-information-product .cardone {
    text-align: right;
    width: 30%;
}

.content-information-product .cardone .btn {
    display: flex;
    justify-content: center;
}

.content-information-product .cardone .btn button {
    border: none;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.content-information-product .cardone .btn button:first-child {
    background-color: black;
    color: white;
}

.content-information-product .cardtwo {
    width: 65%;
    position: relative;
    /* margin-left: 30px; */
    top: 35px;
}

.desc-discount {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.input-discount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-discount button {
    padding: 7px;
    border-radius: 9px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-right: 5px;
}

.input-discount input {
    border-radius: 9px;
    border: none;
    width: 70%;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.discount-month {
    display: flex;
    align-items: center;
    padding: 10px;
}

.month-discoun-desc {
    padding: 20px;
    border: 2px solid;
    border-image: linear-gradient(to right, rgb(205, 23, 251), rgb(218, 201, 201));
    border-image-slice: 1;
    border-radius: 7px;
    font-size: 15px;
    width: 240px;

}

.total-discount {
    margin-left: 5px;
}

.total-discount .content {
    margin-top: 15px;
}

.total-discount .desc-3 {
    background-color: #eee;
    padding: 10px;
    border: 1px solid rgb(199, 190, 190);
}

.total-discount .desc {
    margin-bottom: 15px;
}

i {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}




.action_shopping{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.action_shopping .delete , .qty , .number-product-shopping{
    background-color: #eee;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.action_shopping .icons i{
    display: block;
    background-color: #eee;

}
.tabel {
    position: relative;
    border: 1px solid #ff8c3b;
    border-radius: 20px;
}

.flex_tabel {
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}

.flex_tabel:not(:last-child){
    border-bottom: 1px solid #ff8c3b;
}

.img_shopping {
    width: 100px;
    height: 100px;

}

.tabel .desc {
    font-size: 20px;
    position: absolute;
}

@media(min-width:320px) and (max-width:767px) {
    .tabel{
        width: 100%;
    }
   
.content-information-product{
    flex-direction: column;
}

    .flex_tabel{
        flex-direction: column;
        justify-content: center;
    }
   
    .tabel .desc{
      position: relative;
      font-size: 15px;
    }
    .discount-month {
        flex-direction: column;
        width: 100%;
    }
    .information-product {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .content-information-product .cardone,
    .content-information-product .cardtwo 
     {
        width: 100%;
        margin-top: 20px;
        margin: auto;
    }
    
}


@media(min-width:767px) and (max-width:1200px) {
    .postion img {
        position: relative;
        top: 35px;
        width: 100%;
        height: 100px;
    }

    .point {
        display: none;
    }

    .content-information-product{
        flex-direction: column;
    }
    .content-information-product .cardone,
    .content-information-product .cardtwo 
     {
        width: 100%;
        margin-top: 20px;
        margin: auto;
    }
    .discount-month{
        margin: auto;
        text-align: center;
    }

}

@media(min-width:1200px) and (max-width:1400px) {
    .postion img {
        margin-top: 20px;
    }
}